.btn-floating{
    background: url(../IMAGES/Iconos/ic_reorder_whites.png) no-repeat;
}
.side-nav{
    top: 0;
    margin: 0;
    height: calc(100% + 60%);
    background-color: #fff;
    overflow: auto;
    will-change: transform;
}
.Message{
    color : brown;
}/*
.collection{
    width: 102px;
    height: 62px;
    padding: 0px;
}
.collection .collection-item.avatar:not(.circle-clipper)>.circle, .collection .coletion-item.avatar :not(.circle-clipper)>.circle{
    width: 72px;
    height: 42px;
    padding: -70px;
}*/
.circle{
    border-radius: 0%;
}
td, th{
padding: 1px;
}
.textError{
    visibility: hidden;
    margin-left: -200px;
    height: 0px;
    width: 0px;
}
@media(max-width: 1024px){
.side-nav{
    display: none;
}
.container .ro .card{
    width: 300px;
    margin: 3% 7% 0%;
}
.container2{
    margin: 10px 10px 0px;
}
#c1 .row .card{
    margin-top: 20px;
    width: 40vw;
}
.container3{
    margin: 10px 10px 0px;
}
/*.collection .collection-item.avatar{
    min-height: 30px;
    padding-left: 0px;
    max-width: 100%;
}*/
.otro{
    margin: 10px 10px 0px;
}
#c1 .card{
    width: 45vw;
    margin-left: 10px;
}
.container5 .row .card {
    display: none;
   }
   #filterClientes{
       margin-left: 110px;
   }
   #pagoM{
 margin-left: 145px;    
}
#logo{

    font-size: 15px;
}
}


@media(min-width: 800px){
    .container .ro .card {
       text-align: left;
       margin: 1% 25% 30%;
    }
    .side-nav{
        max-width: 20%;
        display: block;
    }
    .container2{
        width: 75%;
        margin: -395px 290px 0px;
    }
    .container3{
        width: 75%;
        margin: -395px 290px 0px;
    }
    .container4{
        width: 75%;
        margin: -490px 290px 0px;
    }
    .container5{
        width: 73vw;
        margin: -520px 350px 0px;
    }
    .container5 h5{
        margin: -520px 350px 0px;
    }
   .container5 .row .card {
    width: 22vw;
   }
    .otro{
        width: 75%;
        margin: -300px 702px 0px;
    }
    #c1 .card{
        width: 85%;
    }
    #c1{
        margin:-500px 270px 0px 360px;
    }
    #imprimirticket{
        margin-left: -44px;
    }
    #reporT{
margin-left: 20px;
    }
}
.modal-footer{
    margin-top: -15px;
}

