<div class="container5">
  <div class="modal-content">
    <center>
      <h5>Reportes clientes</h5>
    </center>
    <div class="row">
      <div class="col s3 m3">
        <div class="card" >
          <div class="card-content white-text">
            <center>
              <span class="card-title blue-grey-text" >Foto</span>
              <output id="clienteReporte"> </output>
            </center>
          </div>
        </div>
      </div>
      <div class="col s6 m6" id="reporT">
        <table class="table">
          <thead>
            <tr>
              <th>
                Nombre
              </th>
              <th>
                Apellido
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <!--<?php echo $models ?>-->
               <!-- <label id="ClienteNombre"></label>-->
              </td>
              <td>
                <label id="clienteApellido"></label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s6 m6">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <div class="input-field col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      
                      <input
                        type="text"
                        id="filterClientes"
                        placeholder="Buscar cliente"
                      />
                    
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <img src="http://localhost/Factura/System/RESOURCE/IMAGES/Iconos/clientes1.png" alt="clientes_reportes"
                     class="responsive">Clientes
                </div>
                <div class="collapsible-bod">
<table class="table">
    <thead>
        <tr>
            <th>Deuda</th>
            <th>Fecha deuda</th>
            <th>Pago</th>
            <th>Fecha Pago</th>
            <th>Ticket</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="paginadorCliente">

</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <label id="reporteClienteMessage" class="text-left Message"></label>
    </div>
  </div>
</div>
