<div class="otro">
    <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger pulse" href="#modal4" data-tooltip="¿Listo?">Iniciar test</a>

  <!-- Modal Structure -->
  <div id="modal4" class="modal bottom-sheet" margin-bottom="4px">
    <div class="modal-content">
      <h4>PREGUNTA #1</h4>
      <p>Cual de los siguientes lenguajes es bueno</p>
      <p>
        <label>
          <input name="group1" type="radio" checked />
          <span>No sé</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" />
          <span>solo coloque</span>
        </label>
      </p>
      <p>
        <label>
          <input class="with-gap" name="group1" type="radio"  />
          <span>esto de</span>
        </label>
      </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a href="#!" id="" class="modal-close waves-effect waves-green btn-flat">Seleccionar</a>
    </div>
  </div>         
</div>
