<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>sistema de facturaci&oacute;n</title>
    <!--Aplicacion de framewors materialize y del query descargados-->
    <script src="http://localhost/Factura/System/RESOURCE/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/underscore-1.8.3.min.js"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/jquery.validate.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/funciones.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/config.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/Uploadpicture.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/usuarios.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/Principal.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/Clientes.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/Proveedores.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/Compras.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/js/app.js" type="text/javascript"></script>
    <script src="http://localhost/Factura/System/RESOURCE/materialize/js/materialize.min.js"
        type="text/javascript"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script><!--Utilizacion de sweetalert-->
    <link rel="stylesheet" href="http://localhost/Factura/System/RESOURCE/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="http://localhost/Factura/System/RESOURCE/CSS/Style.css">
    <link rel="stylesheet" href="http://localhost/Factura/System/RESOURCE/CSS/quizzer.css">
    
</head>

<body>
    <nav>
        <div class="nav-wrapper cyan darken-1">
            <a href="#!" class="brand-logo center" id="logo">
                <i class="material-icons">

                </i>
                SISTEMA DE FACTURACI&Oacute;N
            </a>
            <div id="menuNavbar1" style="display: none;">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/Factura/System/Usuarios/destroySession" onclick='sessionClose();'>
                            Salir</a>
                    </li>
                </ul>
                <a href="#"  data-target="slide-out" class="btn-floating btn-large waves-effect waves-light cyan darken-2 
    sidenav-trigger"></a>
            </div>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view cyan darken-1">              
                <output id="fotoUser1"></output>
                
                    <p class="white-text" id="name1"></p>
                
                    <p class="white-text" id="role1"></p>
                
            </div>
        </li>
        <li>
            <a href="/Factura/System/Principal/principal" onclick="">Inicio</a>
        </li>
        <li>
            <a href="/Factura/System/Usuarios/usuarios" id="usuarion2" onclick="">Usuarios</a>
        </li>
        <li>
            <a href="/Factura/System/Usuarios/destroySession" onclick='sessionClose();'>
                Salir</a>
        </li>
    </ul>
    <div id="menuNavbar2" style="display: none;">
        <div id="main">
            <div class="wrapper">
                <aside id="left-sidebar-nav">
                    <ul id="slide-out" class="side-nav fixed leftside-navigation">
                        <li class="user-details cyan darken-1">
                            <div class="row">
                            <div class="col col s6 m12 16">
                                &nbsp;
                                <output id="fotoUser"></output>                               
                            </div>
                            <div class="col col s8 m12 30">
                                <p class="center white-text" id="name2"></p>
                                <p class="center white-text" id="role2"></p>
                            </div>
            </div>
            </li>
            <div class="collection">
                <a href="/Factura/System/Principal/principal" id="enlace1" class="collection-item" onclick="">Inicio</a>
                <a href="/Factura/System/Usuarios/usuarios" id="enlace2" class="collection-item" onclick="">Usuarios</a>
            </div>
            
        </ul>   
            </aside>
        </div>
    </div>
    </div>