<div class="container6">
    <form method="post" id="validate" enctype="multipart/form-data">
      <div class="modal-content">
        <center>
          <h5>Compra de productos</h5>
        </center>
        <div class="row">
          <div class="col s9 m4">
            <div class="card">
              <div class="card-content white-text">
                <center>
                  <span class="card-title blue-grey-text">Foto o imagen</span>
                  <output id="imageCompras">
                    <img
                      class="responsive-img"
                      src="../RESOURCE/IMAGES/fotos/Compras/default.png"
                    />
                  </output>
                </center>
              
              <div class="card-action">
                <a>
                  <div class="file-field input-field" id="boton">
                    <div class="btn waves-effect waves-light">
                      <span>Subir</span>
  
                      <input accept="image/*" type="file" id="files" />
                      <div class="file-path-wrapper">
                        <input class="file-path" type="text" />
                      </div>
                    </div>
                    <br />
                  </div>
                </a>
                <center>
                  <a href="Imagen"></a>
                </center>
              </div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="input-field col s6">
<input type="text" name="Descripcion" id="Descripcion" placeholder="Descripcion" required>
<label for="Descripcion" class="error">Descripcion</label>
              </div>
              <div class="input-field col s6">
                <input type="number" min="1" value="1" name="Cantidad" id="Cantidad" placeholder="Cantidad" required>
                <label for="Cantidad" class="error">Cantidad</label>
                              </div>
                              
              <div class="input-field col s6">
                <input type="text" name="Precio" id="Precio" placeholder="Precio" required>
                <label for="Precio" class="error">Precio</label>
                              </div>
                              
              <div class="input-field col s6">
                <input type="text" name="Proveedor" id="Proveedor" placeholder="Proveedor" required disabled>
                <label for="Proveedor" class="error">Proveedor</label>
                              </div>
                              <div class="input-field col s6" style="margin-top:0px">
                                <p>
                                  <label>
                                <input type="checkbox" name="Credito" id="Credito">
                                <span>Credito</span>
                              </label>
                              </p>              
                              </div>       
              <div class="input-field col s6" style="margin-top: 0;">
               <button type="submit" class="waves-effect waves-light btn-small">Comprar</button>
                              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <label for="" id="messageCompras" class="red-text text-darken-4"></label>
      </div>
    </form>
    <div class="row">
      <div class="cols 12" id="test1">
        <div class="row">
          <div class="input-field col s12">
<div class="row">
  <input type="text" name="searchCompra" id="searchCompra" placeholder="Buscar Proveedores">
</div>
          </div>
        </div>
        <ul class="collapsible">
          <li>
              <div class="collapsible-header">
                  <img src="../RESOURCE/IMAGES/Iconos/prove2.png" alt="" class="responsive">Proveedores
              </div>
              <div class="collapsible-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>
                                  Foto
                              </th>
                              <th>
                                 Proveedores
                              </th>
                              <th>
                                  Opciones
                              </th>
                          </tr>
                          <tbody id="compraProveedores">

                          </tbody>
                      </thead>
                  </table>
                  <div id="paginadorCompras">

                  </div>
              </div>
          </li>
      
      </ul>
      </div>
    </div>
  </div>
  