<div class="container4">
  <div class="row">
    <h5 style="margin-bottom: 0px;">Compra de productos</h5>
    <div class="col s12" id="test1">
      <div class="row">
        <div class="input-field col s12">
<form asp-action="Index" asp-controller="Compras" asp-area="Compras" method="get">
  <div class="row">
    <div class="input-field col s6">
<input placeholder="Buscar producto" type="text" id="searchCompras">
    </div>
  </div>
</form>
        </div>
        <a href="compras" class="waves-effect waves-light btn-small">Comprar</a>
        <a class="waves-effect waves-light btn-small grey darken-3">Export</a>
      </div>
      <ul class="collapsible">
<li>
  <div class="collapsible-header">
  <img src="../RESOURCE/IMAGES/Iconos/clientes2.png" class="responsive">Compras
</div>
<div class="collapsible-body">
  <table class="table">
    <thead>
    <tr>
      <th>
        Imagen
      </th>
      <th>
        Descripcion
      </th>
      <th>
        Precio
      </th>
      <th>
        Opciones
      </th>
    </tr>
  </thead>
  <tbody class="dataFilterCompras">

  </tbody>
  </table>
  <div id="paginadorCompras">

  </div>
</div>
</li>
      </ul>
    </div>
  </div>
</div>