<div class="container">
    <div class="ro">
      <div class="col s12 m7">
          <div class="card">
              <div class="card-content">
                  <center>
                      <h4 class="">Iniciar sesion</h4>
                  </center>
                  <form class="login" id="validate" method="post">
                      <div class="input field col s12">
                          <input type="email" name="email" id="email" class="validate" required>
                          <label for="email" class="error">Email</label>
                      </div>
                      <div class="input field col s12"> <!--El validate es del framework materialize y ayuda
                      a validad poniendose en rojo cuando no cumple los requisitos del input-->
                      <input type="password" name="password" id="password" minlength="6" maxlength="20" class="validate" required>
                      <label for="password" class="error">contraseña</label>
                      </div>
                  </form>
                  <center>
                      <button onclick="loginUser();" id="btnlogn" class="wavevs-effect waves-light red btn">
                          Iniciar sesion></button>
                  </center>
                  <br>
                  <label id="indexMessage" class="error Message"></label>
              </div>
          </div>
      </div>
  </div>
  
  
  </div>

</div>